.starter-page {
  .form {
    max-width: 500px;
    margin: auto;

    button {
      width: 100%;
      margin-top: 1.5rem;
      color: rgb(0, 195, 255);
      color: white;
    }
  }
  .starter-page__content {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
