.starter-page {
  .starter-page__form {
    transition: opacity 250ms;
    max-width: 700px;
    margin: auto;

    button {
      width: 100%;
      margin-top: 1.5rem;
      color: rgb(0, 195, 255);
      color: white;
    }
    hr {
      border: 0;
      height: 1px;
      margin: 1.5rem 0;
      background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0)
      );
    }
  }
  .starter-page__content {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
