.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
  height: 100vh;
  min-width: 250px;
  margin-left: -250px;
  transition: 500ms;
  background-color: darken(rgb(28, 32, 34), 0.75%);

  .sidebar-nav {
    width: 100%;
  }
  .nav-toggler {
    display: none;
  }
  .is-toggled {
    display: block;
  }
  .nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;
    height: 70px;
  }
  .logo {
    font-size: 1.75em;
    text-align: left;
  }
  .sidebar-list_group {
    width: 100%;
    a {
      display: block;
      font-size: 1.1em;
      color: rgba(204, 204, 204, 0.616);
      line-height: 2.25em;
      padding: 0 20px;
      transition: 250ms ease-out;
    }
    .active,
    a:hover {
      background-color: lighten(rgb(28, 32, 34), 1%);
    }
  }
  @media (min-width: 500px) {
    min-width: 300px;
    margin-left: -300px;
  }
  .hr {
    margin: 0;
    margin-bottom: 10px;
  }

  .form-inline {
    position: absolute;
    bottom: 2rem;
    .btn {
      margin-left: 10px;
    }
  }
}

.show {
  margin-left: 0;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 8px 0 6px -6px #111;
}
