.settings {
  max-width: 500px;
  margin: 1rem auto 4rem auto;

  .settings__form {
    width: 100%;
    margin: 1rem auto;
    &:nth-child(2) {
      margin-top: 3rem;
    }

    .spinner-grow {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 1rem;
    }
  }

  @media (min-width: 1100px) {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    &:nth-child(2) {
      margin-top: 1rem;
    }

    .settings__form {
      width: 450px;
      &:nth-child(1) {
        margin-right: 1rem;
      }
      &:nth-child(2) {
        margin-top: 1rem;
      }
    }
  }
}
