.payment-details {
  margin-left: 3rem;
  display: flex;

  .final-amount {
    font-size: 1.25em;
    font-weight: bold;

    span {
      font-size: 2em;
      margin-right: 10px;
    }
  }

  .info {
    min-width: 20px;
    max-height: 20px;
    margin-left: 2px;
  }
  .fa-question-circle {
    font-size: 1em;
  }
}
