.group-upload-form {
  max-width: 500px;
  padding: 20px;
  border: solid 1px rgba(255, 255, 255, 0.548);
  border-radius: 20px;
  box-shadow: 0 2px 8px #000;
  height: 270px;
  max-height: 270px;
  margin-top: -283px;
  transition: 250ms;

  .custom-file {
    margin-bottom: 1rem;
  }
  .custom-file-label {
    background-color: #23282a;
    color: rgba(255, 255, 255, 0.548);
    border-color: rgba(255, 255, 255, 0.548);
  }
  .group-upload-form_top {
    display: flex;
    .spin {
      margin-left: 20px;
    }
  }
  button {
    margin-right: 10px;
  }
  .text-danger {
    margin-top: 15px;
    line-height: 0.75em;
    min-height: 1em;
  }
}

.group-upload-form.show {
  margin: 0;
}
