.message-input {
  textarea {
    border: solid lighten(rgb(28, 32, 34), 3%);
    background-color: lighten(rgb(28, 32, 34), 3%);
    color: rgb(204, 204, 204);
    border-radius: 10px;
    width: 100%;
    height: 50px;
    max-height: 60vh;
    padding: 10px;
    resize: none;

    &:focus {
      border: solid 1px lighten(rgb(28, 32, 34), 10%);
      outline: none;
    }
  }
}
