ul.people-list {
  position: relative;
  padding-left: 0;
  max-height: 68vh;
  min-height: 20vh;
  .person {
    display: grid;
    grid-template-columns: 1fr 1fr 0.75fr;
    list-style: none;
    align-items: center;
    text-align: center;
    font-size: 1em;
    padding: 0 5%;
    height: 50px;
    background-color: lighten(rgb(28, 32, 34), 1%);
    cursor: pointer;
    transition: box-shadow 100ms;
    @media (max-width: 600px) {
      grid-template-columns: 1fr 1fr 0.2fr;
    }

    &:nth-child(odd) {
      background-color: lighten(rgb(28, 32, 34), 3%);
    }

    button {
      text-align: right;
    }
    .x {
      color: rgb(204, 204, 204);
    }
    .close {
      cursor: pointer;
      text-align: right;
    }
  }
  .alert {
    font-size: 1em;
    max-width: 90%;
    margin: 1rem auto;
  }
}
