.loading {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .spinner-grow {
    max-width: 600px;
    max-height: 600px;
    width: 80vw;
    height: 80vw;
    animation-duration: 1000ms;
  }
}
