.add-group {
  padding: 1rem;
  max-width: 900px;

  .form-title {
    margin-bottom: 1rem;
  }

  .submit-btn {
    margin-top: 1rem;
  }

  input {
    max-width: 400px;
  }
}

.btn-success {
  margin-top: 2rem;
}
